* {
  box-sizing: border-box;
}

.flex-container {
    width: 80vw;
    margin: auto;
    border-radius: 15px;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    background-color: #f1f1f1;
    text-align: center;
    align-items: center; /* This vertically aligns flex items */
}
.cursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.flex-item-right {
    border-radius: 15px;
    text-align: left; /* Better alignment for text */
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-left {
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}